<suite name="Suite">
    <test name="Test1" >
        <classes>
            <class name="ExtraGet" />
            <class name="SampleTest" />
        </classes>
    </test>

   <!-- <test name="Test2">
        <classes>
            <class name="MyTestClass1"/>
            <class name="MyTestClass2"/>
        </classes>
    </test>-->
</suite>